#include <physical_layouts.dtsi>

/ {
    totem_layout: totem_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys = <
            /* Top Row - Left */
            &key_physical_attrs 100 100 100 37 0 0 0
            &key_physical_attrs 100 100 200 12 0 0 0
            &key_physical_attrs 100 100 300 0 0 0 0
            &key_physical_attrs 100 100 400 12 0 0 0
            &key_physical_attrs 100 100 500 24 0 0 0
            
            /* Top Row - Right */
            &key_physical_attrs 100 100 700 24 0 0 0
            &key_physical_attrs 100 100 800 12 0 0 0
            &key_physical_attrs 100 100 900 0 0 0 0
            &key_physical_attrs 100 100 1000 12 0 0 0
            &key_physical_attrs 100 100 1100 37 0 0 0

            /* Home Row - Left */
            &key_physical_attrs 100 100 100 137 0 0 0
            &key_physical_attrs 100 100 200 112 0 0 0
            &key_physical_attrs 100 100 300 100 0 0 0
            &key_physical_attrs 100 100 400 112 0 0 0
            &key_physical_attrs 100 100 500 124 0 0 0

            /* Home Row - Right */
            &key_physical_attrs 100 100 700 124 0 0 0
            &key_physical_attrs 100 100 800 112 0 0 0
            &key_physical_attrs 100 100 900 100 0 0 0
            &key_physical_attrs 100 100 1000 112 0 0 0
            &key_physical_attrs 100 100 1100 137 0 0 0

            /* Bottom Row + Outer Pinkies - Left */
            &key_physical_attrs 100 100 0 337 0 0 0     /* RC(3,0) Outer */
            &key_physical_attrs 100 100 100 237 0 0 0   /* RC(2,0) */
            &key_physical_attrs 100 100 200 212 0 0 0   /* RC(2,1) */
            &key_physical_attrs 100 100 300 200 0 0 0   /* RC(2,2) */
            &key_physical_attrs 100 100 400 212 0 0 0   /* RC(2,3) */
            &key_physical_attrs 100 100 500 224 0 0 0   /* RC(2,4) */

            /* Bottom Row + Outer Pinkies - Right */
            &key_physical_attrs 100 100 700 224 0 0 0   /* RC(2,5) */
            &key_physical_attrs 100 100 800 212 0 0 0   /* RC(2,6) */
            &key_physical_attrs 100 100 900 200 0 0 0   /* RC(2,7) */
            &key_physical_attrs 100 100 1000 212 0 0 0  /* RC(2,8) */
            &key_physical_attrs 100 100 1100 237 0 0 0  /* RC(2,9) */
            &key_physical_attrs 100 100 1200 337 0 0 0  /* RC(3,9) Outer */

            /* Thumb Cluster - Left */
            &key_physical_attrs 100 100 350 337 (-1500) 0 0 /* RC(3,2) */
            &key_physical_attrs 100 100 450 362 0 0 0       /* RC(3,3) */
            &key_physical_attrs 100 100 550 387 1500 0 0    /* RC(3,4) */

            /* Thumb Cluster - Right */
            &key_physical_attrs 100 100 650 387 (-1500) 0 0 /* RC(3,5) */
            &key_physical_attrs 100 100 750 362 0 0 0       /* RC(3,6) */
            &key_physical_attrs 100 100 850 337 1500 0 0    /* RC(3,7) */
        >;
    };
};
